<!---------------------contact  -------------->
 <div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1> 
                <p> <a href = "mailto:ommahato@ommahato.com"><i class="fa-regular fa-paper-plane"></i>  Email: ommahato@ommahato.com</a></p>
            
            <div class="social-icons">
                <a href="https://www.facebook.com/om.mahato.114576/"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://github.com/MahatoOm"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/om-prakash-mahato-32771a243/"><i class="fa-brands fa-linkedin"></i></i></a>
                <a href="https://leetcode.com/u/ompro/" alt  ='leetcode' ><i class ="fa-brands" > <img src = "{{url_for('static', filename= 'Images/leetcode.png')}}" class = "fa-brands leetcode"></i></a>
            </div>
            <a href="{{url_for('static', filename = 'Images/Om Resume Mail.pdf')}}" class="btn btn2">Download CV</a> 
        </div>
        <div class="contact-right">
            <!-- if posting from the live site -->
             
            <form action = 'https://ommahato-webapp-new.onrender.com/collect_subscribe' method = 'POST'> 



            <!-- If posting locally for testing  -->
            <!-- <form action = '/collect_subscribe' method = 'post'>  -->
                <input type="text" name="Name" placeholder="Your Name" required>
                <input type="email" name="Email" placeholder="Your Email" required>
                <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
                <button type="submit" class="btn btn2">Submit</button>

            </form>
        </div>
    </div>
    </div>



    