{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}

    
    

<!-- This portion displays the submission sussessfull messages afeter submit button is clicked. -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      
        <div style="background-color: #38d1f0; padding: 10px; border: 1px solid #100505;">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <!-- THis will make contact section from contact_section.html  just minimizing the code redundancy-->
    {% include 'partials/contact_section.html' %} 
    {% endblock %}
    
