<Doctype.html>
    <html>
        <head>
            <title>
                Login Page
            </title>
            <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        </head>
        <body>
            <h2>Habit Tracker</h2>
            <h4>Forget Password</h4>
            <form id="login" action = '/forgetPassword' method = 'POST' >
                <textbox type="text">Enter your email to recover the password</textbox>
                <textbox type = "text" >Email: </textbox>
                <input type="email" name="Email" placeholder="Your Email" required><textbox type = "text" >*required</textbox></br></br>
                

                <button type="submit" class="btn">Submit</button>
            </form>
        </body>
    </html>
</Doctype.html>