{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
        <script src="{{ url_for('static', filename='script.js') }}"></script>

     
       
        <div class="header-text">
            <p>Python Developer </p>
            <h1>Hi, I'm <span>Om Mahato</span>   </h1>
        </div>


      
        <div class="scroll-container">
         <img src="{{ url_for('static', filename='Images/linkedin cover.png') }}" class="image_cover_scroll">
        </div>

    
        
       
<!--------------------about------------------>
        <div id="about">
            <div class="container">
                <div class="row">
                    <div class="about-col-1">
                        <img src="{{url_for('static', filename = 'Images/Logo Design Certificate.jpeg')}}" >
                    </div>
                    <div class="about-col-2">
                        <br>
                        <br>
                        <br>
                        <h1 class="sub-title">About Me</h1>
                        <p>
                            Hello, I'm Om Prakash Mahato, an ambitious individual
                             dedicated to continual growth and learning. 
                              I have a solid foundation in the Python,
                               Django, Java, and Web development. 
                               I am actively exploring Web development and 
                               Ml/AI development to stay abreast of industry
                                trends. I take pride in my hands-on approach, 
                                evident in projects like building an 
                                website ( https://ommahato.com/ ).
                                 Embracing diversity and aiming for a global impact,
                                  I am eager to connect, collaborate, and explore new
                                   opportunities.
                             Let's connect and chat a course for success together! 🚀
                        </p>

                        <div class="tab-titles">
                            <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                            <p class="tab-links" onclick="opentab('experience')">Experience</p>
                            <p class="tab-links" onclick="opentab('education')">Education</p>
                        </div>
                        <div class="tab-contents active-tab" id="skills">
                            <ul>
                                <li><span>Designing</span><br>Logo and Graphic designing</li>
                                <li><span>Python Development</span><br>Python Development</li>
                                <li><span>Web Development</span><br>Web Development</li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="experience">
                            <ul>
                                <li><span>Designing</span><br>Designed logo for NSA</li>
                                <li><span>Tutor</span><br>Teacher for about 6 month.</li>
                                <li><span>Web Development</span><br>Designed my website https://ommahato.com/ </li>
                            </ul>
                        </div>
                        <div class="tab-contents" id="education">
                            <ul>
                                <li><span>Undergrad</span><br>Studying at Dallas College</li>
                                <li><span>High School</span><br>CCRC</li>
                                <li><span>School</span><br>MVM</li>
                            </ul>
                        </div>
                    </div>
                </div>
                 
            </div>
        </div>
        <!-----------------------services-------------------->
<div id="services">
    <div class="container">
        <h1 class="sub-title">Services</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Web Design</h2>
                <p>
                    Visit at my webpage - https://ommahato.com/
                </p>
                <a href="#">learn more</a>
            </div>
            <div>
                <i class="fa-brands fa-joomla"></i>
                <h2>Logo Design</h2>
                <p>
                    Visit at my Logos - https://ommahato.com/
                </p>
                <a href="#">learn more</a>
            </div>
            <div>
                <i class="fa-solid fa-mobile"></i>
                <h2>App Design</h2>
                <p>
                    Visit at my Apps - https://ommahato.com/
                </p>
                <a href="#">learn more</a>
            </div>
        </div>

    </div>
</div>

<!--------------------------Portfolio-------------------->
<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Life</h1>
        <div class="work-list">
            <div class="work">
                <img src="{{url_for('static', filename = 'Images/mindluster.jpg')}}" class="portfolio_img">
            </div>
            <div class="work">
                <img src="{{url_for('static', filename = 'Images/hackerrank.png')}}" class="portfolio_img">
            </div>
            <div class="work">
                <img src="{{url_for('static', filename = 'Images/leet100.png')}}" class="portfolio_img">
            </div>
        </div>
    </div>
</div>

<!---------------------contact  -------------->
 <!-- THis will make contact section from contact_section.html  just minimizing the code redundancy-->
    {% include 'partials/contact_section.html' %} 

    
    
 
{% endblock %}

