<Doctype.html>
    <html>
        <head>
            <title>
                Login Page
            </title>
        </head>
        <body>
            <h2>Habit Tracker</h2>
            <h4>Login Page</h4>

            <form id="login" action = '/login' method = 'POST' >
                <input type="text" name="Name" placeholder="Username" required>
                
                <input type="email" name="Email" placeholder="Your Email" required>
                
                <button type="submit" class="btn">Submit</button>
                
            </form>
        </body>
    </html>
</Doctype.html>