<!DOCTYPE html>
<html>
<head>
    <title>Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>

<body>
    <h2>Habit Tracker</h2>
    <h4>Password</h4>
    
    
    <form id="code" action="/newPassword" method="POST" onsubmit="return validatePassword()">
        
        <label>New Password</label><br>
        <input type="password" id="newPassword" name="new" placeholder="New Password" required>
        <br><br>

        <label>Confirm Password</label><br>
        <input type="password" id="confirmPassword" name="confirm" placeholder="Confirm Password" required>
        <br>

        <p id="error" style="color: red; display: none;">
            Passwords do not match
        </p>

        <br>
        <button type="submit" class="btn">Save</button>
    </form>

    <script>
        function validatePassword() {
            const newPassword = document.getElementById("newPassword").value;
            const confirmPassword = document.getElementById("confirmPassword").value;
            const error = document.getElementById("error");

            if (newPassword !== confirmPassword) {
                error.style.display = "block";
                return false; // stops form submission
            }

            error.style.display = "none";
            return true; // allows form submission
        }
    </script>
</body>
</html>
